<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ok.android.sdk"
    android:versionCode="1"
    android:versionName="1.0">

    <application>
        <activity
            android:name="ru.ok.android.sdk.OkAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/appid"
                    android:scheme="okauth" />
            </intent-filter>
        </activity>
        <activity android:name="ru.ok.android.sdk.OkPostingActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppInviteActivity"/>
        <activity android:name="ru.ok.android.sdk.OkAppSuggestActivity"/>
    </application>

</manifest>